img{
	width: 100%;
	height: 100%;
}

.navbar-default{
	background-color: #618CC3;
	width: 9999px;
}

.navbar-default .navbar-nav>li>a{
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.9em;
	margin-left: 14px;
}
